<h1>Stories</h1>

{{#if stories}}
<div class="row">
    {{#each stories}}
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="../{{featuredImage}}" height="300" width="200" alt="{{summary}}">
                <span class="card-title">{{storyTitle}}</span>
                {{{editIcon user ./user _id}}}
            </div>
            <div class="card-content">
                <p>{{summary}}</p>
                <div class="chip center-align">
                    <img src="{{user.image}}" alt="{{user.displayName}}">
                    <span><a href="/stories/user/{{user._id}}">{{user.displayName}}</a></span>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</div>

{{else}}
<section class="centered">
    <p class="center-align heading">No stories yet.</p>
</section>
{{/if}}