<h1>{{story.storyTitle}}</h1>
<img src="{{story.featuredImage}}" alt="{{story.storyTitle}}" class="center">
{{{deleteIcon story.user user story._id}}}
<div class="credentials">
    <a href="/stories/user/{{story.user._id}}">{{displayName}}</a>
    <p>{{formatDate story.createdAt 'MMMM DD YYYY, h:mm:ss a'}}</p>
</div>

{{{story.story}}}

{{#if stories}}
<h2>Other Stories By {{displayName}}</h2>
<div class="row">
    {{#each stories}}
    <div class="col s6 m3">
        <div class="card red darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{storyTitle}}</span>
                <p>{{summary}}</p>
            </div>
            <div class="card-action">
                <a href="/stories/{{_id}}">Read Story</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}